@model IEnumerable<StitchAPattern.StitchingModels.SquareStitch>

@{
    ViewBag.Title = "Index";
}



<form method="get">

    <input type="search" name="SearchTerm" />
    <input type="submit" value="Search By Name" />

</form>

    <h2>Patterns</h2>
<div>
    @foreach (var item in Model)
    {
        <div  class="col-md-3 carousel">
            @*<h4>@item.Name</h4>*@
            <h4>@item.Body</h4>

            <div></div>
            <p>@item.CreatePattern()</p>
            <hr />
        </div>
    }
</div>
