

body {
    margin: 0;
}

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)translateY(-50%);
}

.fly-in-text li{
    display:inline-block;
    color: #f08cb7;
    font-size: 4em;
    font-weight: 300;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}
