@model StitchAPattern.Models.AboutModel

@{
    ViewBag.Title = "Pattern Generator";
}
 <h2>Stitch a Pattern</h2>
<p>Use this area to provide additional information.</p>


<div><br>Name: @Model.Name<br></div>
<div>Location: @Model.Location </div>

