@model IEnumerable<StitchAPattern.StitchingModels.SquareStitch>

@{
    ViewBag.Title = "Home Page";
}
   
<body>
    <div class="container">

        <div class="move-image-intro">
            <img src="~/Content/Images/circle1.png" id="img1">
            <a href="#">
                <img src="~/Content/Images/circle2.png" id="img2">              
            </a>
            <img src="~/Content/Images/img3.png" id="img3">
            <img src="~/Content/Images/circle4.png" id="img4">
            <img src="~/Content/Images/circle5.png" id="img5">
            <img src="~/Content/Images/circle6.png" id="img6">
            <img src="~/Content/Images/circle7.png" id="img7">
            <img src="~/Content/Images/circle6.png" id="img8">
        </div>
    </div>

</body>
