@model IEnumerable<StitchAPattern.StitchingModels.SquareStitch>

@{
    ViewBag.Title = "Home Page";
}

    @section css {
    <link href="@Url.Content("~/ intro.css")" rel="stylesheet" type="text/css" />
    }


   
<body>
    <ul class="fly-in-image hidden">
        <li>aa</li>
        <li>b</li>
        <li>c</li>
        <li>d</li>
        <li>e</li>
        <li>f</li>
        <li>g</li>
    </ul>
</body>
