@model IEnumerable<StitchAPattern.StitchingModels.Pattern>

@{
    ViewBag.Title = "Home Page";
}

<form method="get">

    <input type="search" name="SearchTerm" />
    <input type="submit" value="Search By Name" />

</form>